*.class

ari4java/*
build/
bin/
dist/*
nbproject/*
libs/*

manifest.mf
build.xml

/.settings
/.classpath
/.project
.gradle/
/.nb-gradle
/.directory
.idea/

# macbook
.DS_Store

# ignore generated code artifacts - they will be rebuilt by gradle as needed
src/main/generated/
src/main/resources/build.properties
codegen/tmp/
codegen/versions.md

.build-local
oss.yaml

# vagrant state folder
.vagrant

# local build examples
.inc-examples
# exclude keys
examples/vagrant/asterisk/keys/*.key
examples/vagrant/asterisk/keys/*.crt
examples/vagrant/asterisk/keys/*.csr
