*.class

# Package Files #
*.jar
*.war
*.ear

ari4java/*
build/
bin/
dist/*
nbproject/*
libs/*

manifest.mf
build.xml

/.settings
/.classpath
/.project
.gradle/
/.nb-gradle
/.directory

# macbook
.DS_Store

/bin/
/build/

# ignore generated code artifacts - they will be rebuilt by gradle as needed
classes/ch/loway/oss/ari4java/generated/
