name: ARI4Java Build

on:
  push:
    branches:
    - master
  pull_request:
    branches: 
      - master
#  release:
#    types: [published]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew clean :codegen:runCodegen build
      if: github.event_name != 'release'
    - name: Build & Publish with Gradle
      env:
        BUILD_NUMBER: ${{ env.GITHUB_RUN_NUMBER }}
        BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
        BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}
      run: ./gradlew clean :codegen:runCodegen buildProps build bintrayUpload
      if: github.event_name == 'release'
    - name: Archive Reports
      uses: actions/upload-artifact@v4
      with:
        name: report-folder
        path: build/reports
